<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.tue.id.roboticslab.naotherapy">

    <!-- This permission is necessary in order for Sunshine to perform network access. -->
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- Permission to write statistics into a file -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name="nl.tue.id.roboticslab.naotherapy.SettingsActivity"
            android:label="@string/title_activity_settings"/>
        <activity
            android:name="nl.tue.id.roboticslab.naotherapy.therapy.emotions.EmotionsActivity"
            android:label="@string/title_activity_emotions"/>
        <activity
            android:name="nl.tue.id.roboticslab.naotherapy.TherapySelectorActivity"
            android:label="@string/title_activity_therapy_selector">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="nl.tue.id.roboticslab.naotherapy.therapy.conversations.ConversationsActivity"
            android:label="@string/title_activity_conversations"/>
    </application>

</manifest>
